# Whacker menu defaults
left_mode=Human
right_mode=AI
left_ai_style=balanced
right_ai_style=balanced
left_skill_edge=0.1
left_skill_power=0.1
left_skill_spin=0.1
right_skill_edge=0.12
right_skill_power=0.12
right_skill_spin=0.12
p1_up_scancode=26
p1_down_scancode=22
p2_up_scancode=82
p2_down_scancode=81
p1_controller_index=0
p2_controller_index=1
p1_controller_axis=1
p2_controller_axis=1
p1_controller_axis_invert=0
p2_controller_axis_invert=0
p1_up_controller_button=11
p1_down_controller_button=12
p2_up_controller_button=11
p2_down_controller_button=12
master_volume=80
music_volume=45
sfx_volume=70
mute=0
